<header class="et-header" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="et-brand">
      <div class="et-title">K E V I N &nbsp;C R A W F O R D</div>
      <div class="et-links">
        <a ng-href="#/" ng-class="{'active': getLoc() == '/'}">About</a> <a ng-href="#work" ng-class="{'active': getLoc() == '/work'}">Work</a> <a ng-href="#resume" ng-class="{'active': getLoc() == '/resume'}">Resume</a> <a ng-href="#contact" ng-class="{'active': getLoc() == '/contact'}">Contact</a>
      </div>
    </div>
  </div>
</header>